<h1>Show Invite</h1>

<ul>

  <li>
    <strong>Attending:</strong>
    <%= @invite.attending %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.invite_path(@conn, :edit, @invite) %></span>
<span><%= link "Back", to: Routes.invite_path(@conn, :index) %></span>
